body {
  background-color: #e9eefb;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}
.navbar {
  background-color: #bface2;
  width: 85%;
  height: 10vh;
}

.side-panel {
  background-color: #655dbb;
  width: 15%;
  height: 100vh;
}
