body {
  background-color: #e9eefb;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
}

.container2 {
  display: flex;
}

.navbar {
  background-color: #bface2;
  display: flex;
  width: 100%;
  height: 10vh;
}

.side-panel {
  display: inline-block;
  background-color: #655dbb;
  width: 15%;
  height: 100vh;
}

.admin-title {
  flex: 1 1 auto;
  margin-left: 17vw;
  margin-top: 2vh;
  font-size: 42px;
}

.logout {
  margin-right: 3vw;
  margin-top: 3vh;
  font-size: 22px;
  color: rgb(201, 52, 52);
}

.side-title {
  margin-left: 2vw;
  padding-top: 10vh;
  font-size: 2vw;
}

.users-btn {
  padding: 5%;
  margin-top: 15vh;
  padding-left: 5vw;
  font-size: 1.5vw;
}

.users-btn:hover,
.products-btn:hover {
  background-color: #bface2;
}
.products-btn {
  padding: 5%;
  margin-top: 3vh;
  padding-left: 5vw;
  font-size: 1.5vw;
}

table {
  width: 70vw;
  margin-left: 8vw;
  margin-top: 8vh;
}
th,
td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  font-size: 18px;
  font-weight: bold;
}
td {
  font-size: 16px;
}
tr:hover {
  background-color: #655dbb;
}

.content {
  display: inline-block;
}

.content-title {
  font-size: 64px;
  margin-left: 35vw;
  margin-top: 5vh;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
}
