body {
  background: #e9eefb;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}


.header-container {
  display: flex;
  flex-direction: column;
  padding: 3%;
  background-color: #bface2;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo h1 {
  color: #3e54ac;
  font-size: 50px;
  font-family: "Monarda";
}

.menu {
  width: 90%;
}

.cart {
  width: 15%;
}

a {
  width: 50%;
}

.menu ul li {
  list-style-type: none;
  display: inline-block;
  font-size: larger;
  padding-right: 5%;
}

a {
  text-decoration: none;
  color: black;
}

.shopping-window {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  color: #666;
  font-size: 16px;
  line-height: 36px;
  width: 100%;
  max-width: 250px;
  border: 1px solid #0e0d0d;
  border-radius: 20px;
  background-color: #fff;
}

.cart-image {
  width: 30px;
  height: 30px;
}

.shopping-cart {
  text-align: left;
}

.login-btn,
.register-btn {
  padding: 10px 20px;
  background-color: #655dbb;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.login-btn:hover,
.register-btn:hover {
  background: #e9eefb;
}

.register-btn {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .logo h1 {
    font-size: 20px;
  }
  .menu ul li {
    font-size: small;
    padding-right: 3%;
  }
  .cart-image {
    width: 25px;
    height: 25px;
    padding: 5%;
  }
  .shopping-cart {
    display: none;
  }
  .shopping-count {
    display: none;
  }
  .shopping-window {
    background: #bface2;
    border: none;
    justify-content: center;
    align-items: center;
  }

  .shopping-window :hover {
    background: #655dbb;
    border-radius: 30%;
  }
  .cart {
    padding: 2%;
  }
  .login-btn,
  .register-btn {
    padding: 7px 15px;
    font-size: 10px;
  }
}


/* header */
.main {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check__cart {
  width: 60%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

 hr {
  border: dotted gray 1.5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 0;
}

.check__cart h5 {
  margin: 0;
  margin-top: 20px;
  font-weight: 300;
}

.check__product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 ;
}

.check__product img {
  width: 30%;
  margin-right: 10px;
}

.check__product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.check__product__info p {
  font-weight: 200;
  font-size: 13px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: start;
}

.buttons button {
  margin-right: 20px;
  border-radius: 2px;
  padding: 3px 10px;
  border: 1px solid #000;
}

.update {
  background: #bface2;
}
.delete {
  background: #3e54ac;
}

.update:hover, .delete:hover {
  padding: 4px 15px;
  transition: 0.2s;
} 

.check__product__info h6 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 200;
}

.check__product input {
  width: 1.5rem;
  margin-right: 1rem;
}

.to__checkout {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.to__checkout p,
.to__checkout button {
  font-size: 1.2rem;
  margin: 0;
}

.to__checkout button {
  width: 100%;
  border-radius: 3px;
  background: #e9eefb ;
  border: 0.5px solid #3e54ac;
}

.to__checkout button:hover{
  background: #655dbb;
}

.to__checkout h1 {
  margin: 20px 0;
}

@media (max-width: 850px) {
  .main {
    flex-direction: column;
    padding: 30px 20px;

  }
  .check__cart {
    width: 100%;
  }
  .to__checkout {
    margin-top: 2rem;
    width: 100%;
  }
  .check__product__info {
    max-height: 4rem;
    margin-top: 2rem;
  }

}




.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bface2;
}
.footer-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.footer-logo > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo img{
  width: 5%;
  margin: 0.5%;
}

@media only screen and (max-width: 600px) {
  .row-products{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .product{
    width: 100%;
  }
  .action-buttons > button {
    margin: 4% 2%;
    font-size: 1em;
    width: 40%;
    padding: 10px;
  }
  
}