.main {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check__cart {
  width: 55%;
  border: 1px solid #000;
  height: 20rem;
  padding: 5px;
}

.to__checkout {
  width: 45%;
  height: 20rem;
}

.check__cart hr {
  border: dotted #000 1.5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 0;
}

.check__cart h5 {
  margin: 0;
  margin-top: 20px;
  font-weight: 300;
}

.check__product {
    
}