body {
  background: #e9eefb;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 37px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

hr {
  border: dotted gray 1.5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 0;
  margin-top: 4rem;
}

.main {
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.login-btn,
.register-btn {
  padding: 20px 60px;
  background-color: #655dbb;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.login-btn:hover,
.register-btn:hover {
  background: #bface2;
}

.buttons {
  margin-top: 3rem;
  margin-left: 1rem;
}

.register-btn {
  margin-left: 5rem;
}

.section img {
  width: 4rem;
  object-position: bottom;
  visibility: visible;
}

@media (max-width: 770px) {
    h1 {
        font-size: 30px;
    }
    .main {
        padding: 20px 40px;
    }

  .login-btn,
  .register-btn {
    padding: 10px 30px;
    font-size: 10px;
    
}

.register-btn {
    margin-left: 2rem;
}
}
