* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9eefb;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  
}

.header-container {
  display: flex;
  flex-direction: column;
  padding: 3%;
  background-color: #bface2;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo h1 {
  color: #3e54ac;
  font-size: 50px;
  font-family: "Monarda";
}

.menu {
  width: 90%;
}

.cart {
  width: 15%;
}

.menu ul li {
  list-style-type: none;
  display: inline-block;
  font-size: larger;
  padding-right: 5%;
}

a {
  text-decoration: none;
  color: black;
}

.shopping-window {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  color: #666;
  font-size: 16px;
  line-height: 36px;
  width: 100%;
  max-width: 250px;
  border: 1px solid #0e0d0d;
  border-radius: 20px;
  background-color: #fff;
}

.cart-image {
  width: 30px;
  height: 30px;
}

.shopping-cart {
  text-align: left;
}

.login-btn,
.register-btn {
  padding: 10px 20px;
  background-color: #655dbb;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.login-btn:hover,
.register-btn:hover {
  background: #e9eefb;
}

.register-btn {
  margin-left: 10px;
}

/* slide images */

/* 
.slide-container {
  display: flex;
  width: 97%;
  height: 100%;
}

.slide img{
  width: 100%;
  height: 80%;
  border-radius: 50px;
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.slide a{
  margin-top: 90%;
}
.slide a h3 {
  color: black;
  font-size:  24px;
  position: absolute;
  padding-left: 6%;
  top: 65%;
}

.slide.active {
  flex: 5;
} */



.slide-container {
  display: flex;
  width: 97%;
  height: 100%;
}

.mySlides{
  width: 100%;
  border-radius: 50px;
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.btnn{
  background-color: #3e54ac;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  margin-right: 1%;
  margin-left: 2%;
  width: 40px;
}

.btnn:hover {
  background-color: #555;
  color: #e9eefb;;
}

.left {
  left: 0;
  position: absolute;
  margin-top: 20%;
}

.right {
  right: 0;
  position: absolute;
  margin-top: 20%;
}


@media (max-width: 600px) {
  .logo h1 {
    font-size: 20px;
  }
  .menu ul li {
    font-size: small;
    padding-right: 3%;
  }
  .cart-image {
    width: 25px;
    height: 25px;
    padding: 5%;
  }
  .shopping-cart {
    display: none;
  }
  .shopping-count {
    display: none;
  }
  .shopping-window {
    background: #bface2;
    border: none;
    justify-content: center;
    align-items: center;
  }

  .shopping-window :hover {
    background: #655dbb;
    border-radius: 30%;
  }
  .cart {
    padding: 2%;
  }
  .login-btn,
  .register-btn {
    padding: 7px 15px;
    font-size: 10px;
  }
  /* Hussein Turfah - Media Queries */
  .row-products{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .product{
    width: 80%;
    margin-bottom: 5%;
  }
  .action-buttons > button {
    margin: 4% 2%;
    font-size: 1em;
    width: 40%;
    padding: 10px;
  }
}

/* navbar style - Hussein Turfah  */

.main-product-container {
  display: flex;
  flex-direction: column;
}
.sub-product-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.row-products {
  display: flex;
  justify-content: space-around;
  margin: 3%;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: black 1px solid;
  width: 20%;
  box-shadow: rgba(174, 0, 255, 0.603) 1px 1px 10px;
  box-sizing: border-box;
  transition: all 0.3s;
}
.product:hover {
  box-shadow: none;
}
.product > h3 {
  margin: 20px;
}
.product > img {
  width: 90%;
  margin: 0px 20px 20px 20px;
  border: none;
}
.product-price {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  width: 70%;
}
.product-price > h4 > s {
  font-size: 0.6rem;
  margin: 10px;
}
.action-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.action-buttons > button {
  margin: 4% 2%;
  font-size: 100%;
  width: 40%;
  padding: 1%;
}
.action-buttons :first-child {
  background-color: #655dbb;
  color: white;
  transition: all 0.3s;
}
.action-buttons :first-child:hover {
  background-color: #bface2;
  color: black;
}
.action-buttons :nth-child(2) {
  background-color: #bface2;
  color: black;
  transition: all 0.3s;
}
.action-buttons :nth-child(2):hover {
  background-color: #655dbb;
  color: white;
}
/* Footer styles */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bface2;
}
.footer-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.footer-logo > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo img{
  width: 5%;
  margin: 0.5%;
}