body {
  background-color: #e9eefb;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-container {
  border-radius: 40px;
  background-color: #bface2;
  height: 82%;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.register-title {
  margin-top: 5%;
  text-align: center;
}

.register-button {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 5px;
  border: none;
  background-color: #655dbb;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.register-form {
  margin-top: 15%;
}

.register-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}

.register-link {
  margin-top: 10%;
  text-align: center;
}

a {
  color: #537fe7;
}

.gender {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.gender label {
  margin-right: 10px;
}

.name-container {
  display: flex;
}
.first_name {
  margin-right: 25px;
}

@media only screen and (max-width: 600px) {
  .register-container {
    border-radius: 40px;
    background-color: #bface2;
    height: 70%;
    width: 70%;
    margin-bottom: 30%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .register-container {
    border-radius: 40px;
    background-color: #bface2;
    height: 70%;
    width: 50%;
  }
}
